.blog-content {
    width: auto;
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;

    .blog-post {
        display: flex;
        margin-top: 6rem;
        padding-bottom: 6rem;
        border-bottom: 1px solid $border-color;

        &:last-child {
            border: none;
        }
        .bp-feature-img {
            width: 50%;
            overflow: hidden;
        }

        .bp-description {
            width: 50%;
            padding: 1rem 2rem;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    margin: 0;
                }

                .bp-rating {
                    width: 120px;
                }
            }

            p {
                flex-grow: 2;
            }

            .blog-meta-data {
                display: flex;
                justify-content: space-between;
                align-items: center;
                bottom: 18px;

                .meta-links {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        padding-right: 1rem;
                        // margin-left: 1rem;

                        &:after {
                            content: '|';
                            margin-left: 1rem;
                            color: $border-color
                        }

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child::after {
                            content: '';
                        }

                        a {
                            padding-bottom: 0.5rem;
                        }

                        :hover {
                            border-bottom: 1px solid $text-color;
                        }
                    }
                }
            }
        }
    }
}

@include media-1080 {
    .blog-content{
        .blog-post {
            flex-direction: column;

            .bp-feature-img {
                width: 100%;
            }

            .bp-description {
                width: 80%;
                margin: auto;
            }
        }
    }
}

@include media-728 {
    .blog-content{
        .blog-post {
            margin-top: 0;
            .bp-description {
                width: 100%;
                padding: 1rem 0;
            }
        }
    }
}

@include media-580 {
    .blog-content{
        padding: 0;
        .blog-post {
            margin-top: 3rem;
            padding-bottom: 3rem;
            .bp-description {
                width: 100%;
                padding: 1rem;

                .title{
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}

@include media-480 {
    .blog-content{
        .blog-post {
            margin-top: 2rem;
            padding-bottom: 2rem;
            .bp-description {
                .blog-meta-data {
                    flex-direction: column;

                    .meta-links {
                        margin-bottom: 1rem;
                    }

                    a.read-more{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}