.related-posts-bottom {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
    border-bottom: 1px solid $border-color;

    .related-post-bottom {
        width: 31%;
        border: 1px solid $border-color;

        img {
            width: 100%;
        }

        .rpb-text {
             padding: 2rem;

             p.desc {
                margin: 0;
            }

            .rpb-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 3rem;

                .category {
                    font-weight: 400;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        border-bottom: 1px solid $text-color;
                    }
                }

                a.read-more {
                    background: $primary-color;
                    color: $light-color;
                    border: 1px solid $primary-color;
                
                    &:hover {
                        background: $light-color;
                        border: 1px solid $primary-color;
                        color: $primary-color;
                    }  
                }
            }
        }
    }
}
@include media-996 {
    .related-posts-bottom {
        padding: 4rem 0;
        .related-post-bottom {
            .rpb-text {
                 padding: 1rem;
                .rpb-details {
                    flex-direction: column;
                    margin-top: 2rem;
                    .category {
                        margin-bottom: 1rem;
                    }
                    a {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@include media-728 {
    .related-posts-bottom {
        padding: 3rem 2rem;
        flex-direction: column;
    
        .related-post-bottom {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}