$primary-color: #E95353;
$text-color: #333333;
$border-color: #C6c6c680;
$light-color: #f4f4f4;
$meta-link-color: #333333cc;

$logo-font: 'Righteous', cursive;

@mixin media-1080 {
    @media only screen and (max-width: 1080px ) {
        @content;
      } 
}

@mixin media-1024 {
    @media only screen and (max-width: 1024px ) {
        @content;
      } 
}

@mixin media-996 {
    @media only screen and (max-width: 996px ) {
        @content;
      } 
}

@mixin media-728 {
    @media only screen and (max-width: 728px ) {
        @content;
      } 
}

@mixin media-580 {
    @media only screen and (max-width: 580px ) {
        @content;
      } 
}

@mixin media-480 {
    @media only screen and (max-width: 480px ) {
        @content;
      } 
}